@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

[data-theme='light'] {
  --background: #ededed;
  --foreground: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}